<script type="text/javascript">
    // Check for the various File API support.
    if (window.File && window.FileReader && window.FileList && window.Blob) {
      // Great success! All the File APIs are supported.
    } else {
      alert('The File APIs are not fully supported in this browser.');
    }
</script>
<p><div id="drop_zone">Drop files here</div></p>
<output id="list"></output>
<p><a id="upload_button" class="btn primary large disabled">Upload &raquo;</a></p>
<script>
  var bf = new Blowfish('key');
  var files;
  function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    files = evt.dataTransfer.files; // FileList object.

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', f.name, '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate.toLocaleDateString(), '</li>');
      reader = new FileReader();
      reader.onload = (function(theFile) {
        return function(e) {
          var ciphertext = bf.encrypt(e.target.result);
          var span = document.createElement('span');
          span.innerHTML = ['<pre><code>', ciphertext, '</code></pre>'].join('');
          document.getElementById('list').insertBefore(span, null);
        };
      })(f);
      reader.readAsBinaryString(f);
      var uploadButton = document.getElementById('upload_button');
      uploadButton.setAttribute("class","btn primary large");
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
  }

  function doShit() {
    var xhr = new XMLHttpRequest();
    xhr.upload.addEventListener('progress', onprogressHandler, false);
    xhr.open('POST', '<%= upload_url %>' ,true);
    xhr.send(files[0]);
  }

  function onprogressHandler(evt) {
    var percent = evt.loaded/evt.total*100;
    console.log('Upload progress: ' + percent + '%');
  }

  // Setup the dnd listeners.
  var dropZone = document.getElementById('drop_zone');
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);
  var uploadButton = document.getElementById('upload_button');
  uploadButton.addEventListener('click', doShit, false);
</script>
